@import url('https://fonts.googleapis.com/css?family=Exo+2&display=swap');

@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: 'Exo 2';
}

body {
    margin: 0;
    padding: 0;
}

img {
    position: fixed;
    z-index: -1;
}

hr {
    color: white;
    margin: 15px;
}

.item-a {
    grid-area: header;
    justify-self: center;
    align-self: center;
}

.item-b {
    grid-area: panel;
    float: left;
    display: inline;
}

.item-c {
    grid-area: space;
    background: rgba(52, 73, 94, 0.9);
    border-radius: 24px;
    padding: 20px;
    display: inline;
}

.item-d {
    grid-area: control;
    display: flow;
    align-self: end;
}

.container {
    display: grid;
    grid-template-columns: 0.5% 17% 70% 10% 7.5%;
    grid-template-rows: 10% 10% 7.5% auto;
    grid-template-areas:
            ". . . . ."
            ". control header . ."
            ". . panel . ."
            ". . space . .";

    grid-column-gap: 10px;
    grid-row-gap: 15px;
    z-index: 0;
}

/*UPLOAD BUTTON=================================*/

.upload {
    background: none;
    border: #e67e22 solid 2px;
    padding: 14px;
    border-radius: 24px;
    text-align: center;
    width: 120px;
    transition: 0.25s;
}

.upload:hover {
    background: #e67e22;
}

a:visited, a:link {
    color: white;
    text-decoration: none;
}

/*CONTROL PANEL + LOGOUT AND SETTINGS + FILES/DIRECTORIES CONTROL=================================*/

i.fa-folder-plus {
    font-size: 24px;
    color: white;
    background: #2c3e50;
    padding: 20px;
    border-radius: 24px;
    opacity: 0.9;
    transition: 0.25s;
}

i.fa-folder-plus:hover {
    background: #e67e22;
}

i.fa-step-backward {
    font-size: 24px;
    color: white;
    background: #2c3e50;
    padding: 20px;
    border-radius: 24px;
    opacity: 0.9;
    transition: 0.25s;
}

i.fa-step-backward:hover {
    background: #e67e22;
}

i.fa-fast-backward {
    font-size: 24px;
    color: white;
    background: #2c3e50;
    padding: 20px;
    border-radius: 24px;
    opacity: 0.9;
    transition: 0.25s;
}

i.fa-fast-backward:hover {
    background: #e67e22;
}

i.fa-sign-out-alt {
    font-size: 24px;
    color: white;
    background: #2c3e50;
    padding: 20px;
    border-radius: 24px;
    opacity: 0.9;
    transition: 0.25s;
}

i.fa-sign-out-alt:hover {
    background: #e67e22;
}

i.fa-cog {
    font-size: 24px;
    color: white;
    background: #2c3e50;
    padding: 20px;
    border-radius: 24px;
    opacity: 0.9;
    transition: 0.25s;
}

i.fa-cog:hover {
    background: #e67e22;
}

button.btn-info {
    font-size: 13px;
    color: white;
    background: #2c3e50;
    padding: 10px;
    border-radius: 24px;
    border-color: transparent;
    transition: 0.25s;
}

button.btn-info:hover {
    background: #27ae60;
}

button.btn-secondary {
    font-size: 13px;
    color: white;
    background: #2c3e50;
    padding: 10px;
    border-radius: 24px;
    border-color: transparent;
    transition: 0.25s;
}

button.btn-secondary:hover {
    background: #e67e22;
}

button.btn-danger {
    font-size: 13px;
    color: white;
    background: #2c3e50;
    padding: 10px;
    border-radius: 24px;
    border-color: transparent;
    transition: 0.25s;
}

button.btn-danger:hover {
    background: #e74c3c;
}

/*DIRECTORY PATH ============================================*/

.directory {
    margin-left: 20px;
    color: white;
    font-size: 24px;
    display: inline;
}

.control-icons {
    padding: 20px;
    display: inline;
}